<!DOCTYPE html>
<html lang="en">

<style>
    body {
        background-color: beige;
    }

    h1 {
        color: aqua;
    }

    p {
        color: chartreuse;
        font-size: 20px;
    }
</style>

{{> header}}
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title> {{title}} </title>-->
<!--</head>-->
<body>
<h1>Victor Guan</h1>



</body>

{{> footer}}



<!--<footer>-->
    <!--<p> Copyright {{year}} </p>-->
<!--</footer>-->
</html>